<a href="https://colab.research.google.com/github/lisatwyw/data-gym/blob/master/gspread_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import auth

auth.authenticate_user()

import gspread

from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

# Import data from demo spreadsheet ("AirBnB open data") #

In [0]:
url2='https://docs.google.com/spreadsheets/d/1YTD0pxdGTGAzM8IiWDfLL4AZPjrFRN-vpGUiLQWOtoI/edit#gid=1512387781'

gc2= gspread.authorize(GoogleCredentials.get_application_default())
wb2= gc2.open_by_url(url2)

sheet = wb2.worksheet('AB_NYC_2019')

In [0]:
import pandas as pd
import matplotlib.pyplot as plt

data = sheet.get_all_values()

df = pd.DataFrame( data )

In [16]:
df.head().transpose()

                                 0  ...                                4
0                               id  ...                             3831
1                             name  ...  Cozy Entire Floor of Brownstone
2                          host_id  ...                             4869
3                        host_name  ...                      LisaRoxanne
4              neighbourhood_group  ...                         Brooklyn
5                    neighbourhood  ...                     Clinton Hill
6                         latitude  ...                         40.68514
7                        longitude  ...                        -73.95976
8                        room_type  ...                  Entire home/apt
9                            price  ...                               89
10                  minimum_nights  ...                                1
11               number_of_reviews  ...                              270
12                     last_review  ...                       2019-07-05
13               reviews_per_month  ...                             4.64
14  calculated_host_listings_count  ...                                1
15                availability_365  ...                              194

[16 rows x 5 columns]